* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: rgb(86,86,86);
    background: radial-gradient(circle, rgba(86,86,86,1) 0%, rgba(40,35,35,1) 100%);
}

hr {
    color: white;
}

h4 {
    font-weight: bold;
}

span a {
    text-decoration-line: none;
}
.nav-link {
    color: white;
}
#wheel-card-row1 {
    margin-top: 40px;
    font-family: monospace;
    width: 75%;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-style: italic;
}


/* banner CSS */
.banner {
    position:relative;
}

.banner img {
    width:100%
}

.banner .container {
    position: absolute;
    left: 0;
    right:0;
    top:50%;
    text-align: left;
    transform: translateY(-50%)
}

.chaser-title {
    font-style: italic;
}

.chaser-subtitle {
    font-style: italic;
    padding-left: 30px;

}

.banner .btn {
    margin-top: 10px;
}

.banner a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
